{% extends "base.html" %} {% block start %}

<div class="container p-5">
<table class="table container table-striped">
  <h1>This is a index page</h1>
  <thead>
      <tr>
        <th scope="col">S. No</th>
        <th scope="col">subjects</th>
        <th scope="col">marks</th>
        <th scope="col">pass</th>
      </tr>
    </thead>
    <tbody>
      {% for mark in marks %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{mark.subject}}</td>
        <td>{{mark.mark}}</td>
        <td {% if mark.mark <= 33 %} style="background-color: red" {%endif%}>
          {%if mark.mark >= 33 %} 👍 {%else%} 🤷‍♂️ {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
